<div id="controls">
  <a id="logo" href="https://supermedium.com" title="By Supermedium, the browser for the VR Internet"><img src="assets/img/logo.png"></a>
  <a id="controlsPause" href="#"><img id="pause" src="assets/img/pause.svg"></a>
  <div id="timeline">
    <div id="playhead"></div>
  </div>

  <div id="songInfoContainer">
    <img id="songImage">
    <div id="songInfo">
      <p id="songName"></p>
      <p id="songSubName"></p>
    </div>
    <p id="controlsDifficulty"></p>
  </div>
</div>

<div id="controlsDifficultyContainer">
  <ul id="controlsDifficultyOptions">
    <li data-difficulty="Easy">Easy</li>
    <li data-difficulty="Normal">Normal</li>
    <li data-difficulty="Hard">Hard</li>
    <li data-difficulty="Expert">Expert</li>
    <li data-difficulty="ExpertPlus">ExpertPlus</li>
  </ul>
</div>
