html
  background #111

#vrButton
  position absolute
  background url(../assets/img/enter-vr-button-background.png) no-repeat
  background-size cover
  border 0
  cursor pointer
  right 20px
  bottom 20px
  z-index 9999999
  width 84px
  height 47px

#vrButton.a-hidden
  visibility hidden

#vrButtonactive
  border 0

#vrButtonhover
  background-position 0 -50.5px

#logo
  bottom 0
  position fixed
  left 0
  z-index 99999999

#controls
  align-items center
  background rgba(200, 200, 200, 0.75)
  bottom 0
  display flex
  left 0
  margin 0 auto 20px auto
  padding 20px
  position fixed
  right 0
  width 320px
  z-index 99999999

  #pause
    display flex
    padding-right 10px

	#timeline
		background #333
		border-radius 15px
		height 20px
		width 100%

  #playhead
    background pink
    border-radius 50%
    cursor pointer
    height 18px
    margin-top 1px
    width 18px
