html
  background #111

#controls
  align-items center
  background rgba(0, 0, 0, 0.75)
  border-radius 10px
  bottom 0
  display flex
  opacity 0
  left 0
  margin 0 auto 40px auto
  padding 10px
  position fixed
  right 0
  transition opacity .5s
  width 400px
  z-index 99999999

  #pause
    display flex
    padding-right 5px
    &:hover #pauseSymbol
      fill #d11769

	#timeline
    height 12px
    width 160px

    &:hover #timelineline
      height 6px
      background #d11769
      margin-top 3px

  #timelineline
    height 2px
    background #8c1248
    border-radius 2px
    margin-top 5px
    transition background 0.2s, height 0.2s, margin-top 0.2s

  #playhead
    background #fff
    position relative
    border-radius 2px 0 0 2px
    height 100%
    width 0%

#songInfoContainer
  align-items center
  display flex
  padding-left 20px

  img
    height 32px
    width 32px

  p
    font-family system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif
    font-size 13px
    margin 0
    text-shadow 0 0 4px #000

  #songInfo
    display flex
    flex-direction column
    padding-left 15px
  #songName
    color #CCC
    font-weight bold
    font-size 16px
  #songSubName
    color #ff3690

#timeline
  cursor pointer

#vrButton
  position absolute
  background url(../assets/img/enter-vr-button-background.png) no-repeat
  background-size cover
  border 0
  cursor pointer
  right 20px
  bottom 20px
  z-index 9999999
  width 84px
  height 47px

#vrButton.a-hidden
  visibility hidden

#vrButton:active
  border 0

#vrButton:hover
  background-position 0 -50.5px

#logo
  bottom 0
  position fixed
  left 0
  opacity 1
  transition .1s opacity
  z-index 99999999

.github-corner
  opacity 1
  transition .1s opacity

.isPlaying
  #controls,
  #logo,
  .github-corner
    opacity 0
