$darkred=#8c1248
$red=#d11769
$lightred=#ff3690
$gray=#CCC
$white=#FAFAFA
$font=system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif

html
  background #111

#controls
  align-items center
  background rgba(0, 0, 0, 0.75)
  border-radius 10px
  bottom 0
  display none
  font-family $font
  left 0
  margin 0 auto 40px auto
  padding 10px
  position fixed
  right 0
  width 580px
  z-index 99999999

  &.challengeLoaded
    display flex

  #pause
    display flex
    padding-right 10px
    opacity 0
    transition opacity .5s
    &:hover #pauseSymbol
      fill $red

  #logo
    margin-right 10px
    img
      height 32px
      width 32px

	#timeline
    height 12px
    width 160px

    &:hover #timelineLine
      height 6px
      background $red
      margin-top 3px

  #timelineLine
    height 2px
    background $darkred
    border-radius 2px
    margin-top 5px
    transition background 0.2s, height 0.2s, margin-top 0.2s

  #playhead
    background $white
    position relative
    border-radius 2px 0 0 2px
    height 100%
    width 0%

#songTime
  color $gray
  font-size 11px
  margin-left 15px

#songInfoContainer
  align-items center
  display flex
  padding-left 15px

  img
    height 32px
    width 32px

  p
    font-size 13px
    margin 0
    text-shadow 0 0 4px #000
  #songInfo
    display flex
    flex-direction column
    padding-left 15px
  #songName
    color $gray
    font-weight bold
    font-size 16px
  #songSubName
    color $lightred

  #controlsDifficulty
    border 1px solid $gray
    border-radius 5px
    color $gray
    cursor pointer
    padding 5px 10px
    position absolute
    right 10px
    text-align center
    transition all .1s
    p
      font-family $font
    &:after
      content '\25B2'
      display inline-block
      font-size 11px
      margin-left 5px
    &:hover
      border-color $white
      color $white

#controlsDifficultyOptions
  background #020202
  border 1px solid $gray
  border-radius 5px
  bottom 60px
  color $white
  display none
  flex-direction column
  font-family $font
  font-size 13px
  list-style none
  margin 0
  opacity 0
  padding 0
  position absolute
  right 5px
  transition all .2s
  li
    cursor pointer
    padding 10px
    min-width 65px
    transition all .1s
    &:hover
      color $red

.difficultyOptionsActive
  #controlsDifficultyOptions
    display flex
    opacity 1

#timeline
  cursor pointer

#vrButton
  position absolute
  background url(../assets/img/enter-vr-button-background.png) no-repeat
  background-size cover
  border 0
  cursor pointer
  right 20px
  bottom 20px
  z-index 9999999
  width 84px
  height 47px

  &.a-hidden
    visibility hidden

  &:active
    border 0

  &:hover
    background-position 0 -50.5px

.github-corner
  opacity 1
  transition .1s opacity

.isPlaying
  .github-corner
    opacity 0
  #controls,
  #controls #pause
    opacity 1

.a-loader-title
  display none !important
